/*================================
  KingButton
  - Set default styles 
    for buttons
================================*/

/* Button Setup */
.button { display:inline-block; padding: 8px 16px; box-sizing: border-box; cursor: pointer; }
input.button, button.button { border: none; background: none }
a.button, a.button:hover { text-decoration:none; }

/* Button Sizes */
.button.xl{ padding: 12px 24px }
.button.lg{ padding: 10px 20px }
.button.sm{ padding: 6px 12px }
.button.xs{ padding: 4px 8px }

/* This button uses Grid to determine width */
.button.button-block{ width: 100% }

/* Horizontal Button Group */
.button-group { display:inline-block; overflow:hidden; }
.button-group .button{ float: left }

/* Vertical Button Group */
.button-group-vertical{ display: inline-block }
.button-group-vertical .button{ display: block; width: 100% }
