
/* Remove Borders */
.no-border, .border-all-0, .b-a-0 { border: none !important }
.no-top-border, .border-top-0, .b-t-0 { border-top: none !important }
.no-right-border, .border-right-0, .b-r-0 { border-right: none !important }
.no-bottom-border, .border-bottom-0, .b-b-0 { border-bottom: none !important }
.no-left-border, .border-left-0, .b-l-0 { border-left: none !important }

/* Add Borders */
.border-all, .b-a { border-style: solid; border-width: 1px }
.border-top, .b-t { border-top-style: solid; border-top-width: 1px }
.border-right, .b-r { border-right-style: solid; border-right-width: 1px }
.border-bottom, .b-b { border-bottom-style: solid; border-bottom-width: 1px }
.border-left, .b-l { border-left-style: solid; border-left-width: 1px }

/* Border Line Style */
.dot { border-style: dotted }
.dash { border-style: dashed }
.double { border-style: double }

/* Border Line Width */
.border-2, .b-2 { border-width: 2px }
.border-3, .b-3 { border-width: 3px }
.border-4, .b-4 { border-width: 4px }
.border-5, .b-5 { border-width: 5px }
