
.container { padding-right: .9375rem; padding-left: .9375rem; margin-right: auto; margin-left: auto; }
.container::after { display: table; clear: both; content: ""; }

.container-fluid { padding-right: .9375rem; padding-left: .9375rem; margin-right: auto; margin-left: auto; }
.container-fluid::after { display: table; clear: both; content: ""; }

@media (min-width: 544px) {
  .container { max-width: 576px }
}

@media (min-width: 768px) {
  .container { max-width: 720px }
}

@media (min-width: 992px) {
  .container { max-width: 940px }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px }
}
