
/* Padding All */
.no-padding,.padding-0,.p-0 { padding: 0 !important }
.padding-5,.p-5 { padding: 5px !important }
.padding-10,.p-10 { padding: 10px !important }
.padding-15,.p-15 { padding: 15px !important }
.padding-20,.p-20 { padding: 20px !important }
.padding-25,.p-25 { padding: 25px !important }
.padding-30,.p-30 { padding: 30px !important }
.padding-35,.p-35 { padding: 35px !important }
.padding-40,.p-40 { padding: 40px !important }
.padding-45,.p-45 { padding: 45px !important }
.padding-50,.p-50 { padding: 50px !important }

/* Padding Top */
.no-top-padding,.padding-top-0,.p-t-0 { padding-top: 0 !important }
.padding-top-5,.p-t-5 { padding-top: 5px !important }
.padding-top-10,.p-t-10 { padding-top: 10px !important }
.padding-top-15,.p-t-15 { padding-top: 15px !important }
.padding-top-20,.p-t-20 { padding-top: 20px !important }
.padding-top-25,.p-t-25 { padding-top: 25px !important }
.padding-top-30,.p-t-30 { padding-top: 30px !important }
.padding-top-35,.p-t-35 { padding-top: 35px !important }
.padding-top-40,.p-t-40 { padding-top: 40px !important }
.padding-top-45,.p-t-45 { padding-top: 45px !important }
.padding-top-50,.p-t-50 { padding-top: 50px !important }

/* Padding Right */
.no-right-padding,.padding-right-0,.p-r-0 { padding-right: 0 !important }
.padding-right-5,.p-r-5 { padding-right: 5px !important }
.padding-right-10,.p-r-10 { padding-right: 10px !important }
.padding-right-15,.p-r-15 { padding-right: 15px !important }
.padding-right-20,.p-r-20 { padding-right: 20px !important }
.padding-right-25,.p-r-25 { padding-right: 25px !important }
.padding-right-30,.p-r-30 { padding-right: 30px !important }
.padding-right-35,.p-r-35 { padding-right: 35px !important }
.padding-right-40,.p-r-40 { padding-right: 40px !important }
.padding-right-45,.p-r-45 { padding-right: 45px !important }
.padding-right-50,.p-r-50 { padding-right: 50px !important }

/* Padding Bottom */
.no-bottom-padding,.padding-bottom-0,.p-b-0 { padding-bottom: 0 !important }
.padding-bottom-5,.p-b-5 { padding-bottom: 5px !important }
.padding-bottom-10,.p-b-10 { padding-bottom: 10px !important }
.padding-bottom-15,.p-b-15 { padding-bottom: 15px !important }
.padding-bottom-20,.p-b-20 { padding-bottom: 20px !important }
.padding-bottom-25,.p-b-25 { padding-bottom: 25px !important }
.padding-bottom-30,.p-b-30 { padding-bottom: 30px !important }
.padding-bottom-35,.p-b-35 { padding-bottom: 35px !important }
.padding-bottom-40,.p-b-40 { padding-bottom: 40px !important }
.padding-bottom-45,.p-b-45 { padding-bottom: 45px !important }
.padding-bottom-50,.p-b-50 { padding-bottom: 50px !important }

/* Padding Left */
.no-left-padding,.padding-left-0,.p-l-0 { padding-left: 0 !important }
.padding-left-5,.p-l-5 { padding-left: 5px !important }
.padding-left-10,.p-l-10 { padding-left: 10px !important }
.padding-left-15,.p-l-15 { padding-left: 15px !important }
.padding-left-20,.p-l-20 { padding-left: 20px !important }
.padding-left-25,.p-l-25 { padding-left: 25px !important }
.padding-left-30,.p-l-30 { padding-left: 30px !important }
.padding-left-35,.p-l-35 { padding-left: 35px !important }
.padding-left-40,.p-l-40 { padding-left: 40px !important }
.padding-left-45,.p-l-45 { padding-left: 45px !important }
.padding-left-50,.p-l-50 { padding-left: 50px !important }

/* Padding Right & Left (X Axis) */
.no-x-padding,.padding-x-0,.m-x-0 { padding-left: 0 !important; padding-right: 0 !important }
.padding-x-5,.m-x-5 { padding-left: 5px !important; padding-right: 5px !important }
.padding-x-10,.m-x-10 { padding-left: 10px !important; padding-right: 10px !important }
.padding-x-15,.m-x-15 { padding-left: 15px !important; padding-right: 15px !important }
.padding-x-20,.m-x-20 { padding-left: 20px !important; padding-right: 20px !important }
.padding-x-25,.m-x-25 { padding-left: 25px !important; padding-right: 25px !important }
.padding-x-30,.m-x-30 { padding-left: 30px !important; padding-right: 30px !important }
.padding-x-35,.m-x-35 { padding-left: 35px !important; padding-right: 35px !important }
.padding-x-40,.m-x-40 { padding-left: 40px !important; padding-right: 40px !important }
.padding-x-45,.m-x-45 { padding-left: 45px !important; padding-right: 45px !important }
.padding-x-50,.m-x-50 { padding-left: 50px !important; padding-right: 50px !important }

/* Padding Top & Bottom (Y Axis)*/
.no-y-padding,.padding-y-0,.m-y-0 { padding-top: 0 !important; padding-bottom: 0 !important }
.padding-y-5,.m-y-5 { padding-top: 5px !important; padding-bottom: 5px !important }
.padding-y-10,.m-y-10 { padding-top: 10px !important; padding-bottom: 10px !important }
.padding-y-15,.m-y-15 { padding-top: 15px !important; padding-bottom: 15px !important }
.padding-y-20,.m-y-20 { padding-top: 20px !important; padding-bottom: 20px !important }
.padding-y-25,.m-y-25 { padding-top: 25px !important; padding-bottom: 25px !important }
.padding-y-30,.m-y-30 { padding-top: 30px !important; padding-bottom: 30px !important }
.padding-y-35,.m-y-35 { padding-top: 35px !important; padding-bottom: 35px !important }
.padding-y-40,.m-y-40 { padding-top: 40px !important; padding-bottom: 40px !important }
.padding-y-45,.m-y-45 { padding-top: 45px !important; padding-bottom: 45px !important }
.padding-y-50,.m-y-50 { padding-top: 50px !important; padding-bottom: 50px !important }
