
/* Tooltip */
[data-tooltip]:hover, [data-tooltip-left]:hover { position:relative; cursor:help }
a[data-tooltip],button[data-tooltip],input[data-tooltip], a[data-tooltip-left],button[data-tooltip-left],input[data-tooltip-left]{cursor:pointer}

[data-tooltip]:hover:after { content: attr(data-tooltip); width:200px; padding:10px; position: absolute; left: 0; top: 110%; z-index: 5; font: normal 12px Arial;
    border: 1px solid #31708f; background: #d9edf7; color: #31708f;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
}
[data-tooltip-left]:hover:after { content: attr(data-tooltip-left); width:200px; padding:10px; position: absolute; right: 0; top: 110%; z-index: 5; font: normal 12px Arial;
    border: 1px solid #31708f; background: #d9edf7; color: #31708f;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
}

[data-tooltip].tooltip-xs:hover:after,[data-tooltip-left].tooltip-xs:hover:after{ width:100px }
[data-tooltip].tooltip-sm:hover:after,[data-tooltip-left].tooltip-sm:hover:after{ width:150px }
[data-tooltip].tooltip-lg:hover:after,[data-tooltip-left].tooltip-lg:hover:after{ width:250px }
[data-tooltip].tooltip-xl:hover:after,[data-tooltip-left].tooltip-xl:hover:after{ width:300px }
