
/* Text */
.text-lowercase { text-transform: lowercase !important; }
.text-uppercase { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }
.text-centered{ text-align: center }
.text-right{ text-align: right }
.text-left{ text-align: left }
.text-justify{ text-align: justify }
.text-break { word-wrap: break-word; }

/* Images */
.img-fluid { width:100%; height:auto }
.img-circle { border-radius: 50%; }

@media (max-width: 543px) {
  .hidden-xs-down { display: none !important }
}

@media (min-width: 544px) {
  .hidden-sm-up { display: none !important }
}

@media (max-width: 767px) {
  .hidden-sm-down { display: none !important }
}

@media (min-width: 768px) {
  .hidden-md-up { display: none !important }
}

@media (max-width: 991px) {
  .hidden-md-down { display: none !important }
}

@media (min-width: 992px) {
  .hidden-lg-up { display: none !important }
}

@media (max-width: 1199px) {
  .hidden-lg-down { display: none !important }
}

@media (min-width: 1200px) {
  .hidden-xl-up { display: none !important }
}

@media print {
  .hidden-print { display: none !important }
}
