/* =====================================
    KingLayout
    - Control layout for page
======================================*/

.container { padding-right: .9375rem; padding-left: .9375rem; margin-right: auto; margin-left: auto; }
.container::after { display: table; clear: both; content: ""; }

@media (min-width: 544px) {
  .container { max-width: 576px }
}

@media (min-width: 768px) {
  .container { max-width: 720px }
}

@media (min-width: 992px) {
  .container { max-width: 940px }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px }
}

.container-fluid { padding-right: .9375rem; padding-left: .9375rem; margin-right: auto; margin-left: auto; }
.container-fluid::after { display: table; clear: both; content: ""; }

.pull-right{ float:right }
.pull-left{ float:left }

@media (min-width: 544px) {
    .pull-right-sm{ float:right }
    .pull-left-sm{ float:left }
}

@media (min-width: 768px) {
    .pull-right-md{ float:right }
    .pull-left-md{ float:left }
}

@media (min-width: 992px) {
    .pull-right-lg{ float:right }
    .pull-left-lg{ float:left }
}

@media (min-width: 1200px) {
    .pull-right-xl{ float:right }
    .pull-left-xl{ float:left }
}

/* Fixes */
.clearfix::after { display: table; clear: both; content: ""; }
