/* =========================================
    KingTHEME
    - The theme uses 3 styles to control 
      the colors of a project:
      - Background
      - Color
      - Border
==========================================*/

/* Primary Color */
.background.primary:not([disabled]), .background.primary-hover:not([disabled]):hover { background-color:#0275d8 }
.color.primary:not([disabled]), .color.primary-hover:not([disabled]):hover { color::#0275d8 }
.border.primary:not([disabled]), .border.primary-hover:not([disabled]):hover { border-color: #0275d8 }

/* Secondary Color */
.background.secondary:not([disabled]), .background.secondary-hover:not([disabled]):hover { background-color:#5cb85c }
.color.secondary:not([disabled]), .color.secondary-hover:not([disabled]):hover { color:#5cb85c }
.border.secondary:not([disabled]), .border.secondary-hover:not([disabled]):hover { border-color: #5cb85c }

/* Tertiary Color */
.background.tertiary:not([disabled]), .background.tertiary-hover:not([disabled]):hover { background-color:#d9534f }
.color.tertiary:not([disabled]), .color.tertiary-hover:not([disabled]):hover { color:#d9534f }
.border.tertiary:not([disabled]), .border.tertiary-hover:not([disabled]):hover { border-color: #d9534f }

/* White Color */
.background.white:not([disabled]), .background.white-hover:not([disabled]):hover { background-color: #fff }
.color.white:not([disabled]), .color.white-hover:not([disabled]):hover { color: #fff }
.border.white:not([disabled]), .border.white-hover:not([disabled]):hover { border-color: #fff }

/* Light Color */
.background.light:not([disabled]), .background.light-hover:not([disabled]):hover { background-color: #f5f5f5 }
.color.light:not([disabled]), .color.light-hover:not([disabled]):hover { color: #f5f5f5 }
.border.light:not([disabled]), .border.light-hover:not([disabled]):hover { border-color: #f5f5f5 }

/* Dark Color */
.background.dark:not([disabled]), .background.dark-hover:not([disabled]):hover { background-color: #333 }
.color.dark:not([disabled]), .color.light-dark:not([disabled]):hover { color: #333 }
.border.dark:not([disabled]), .border.light-dark:not([disabled]):hover { border-color: #333 }

/* Black Color */
.background.black:not([disabled]), .background.black-hover:not([disabled]):hover { background-color: #000 }
.color.black:not([disabled]), .color.black-hover:not([disabled]):hover { color: #000 }
.border.black:not([disabled]), .border.black-hover:not([disabled]):hover { border-color: #000 }

/* Hover */
.hover-light{ background-image: url('../images/light.png') }
.hover-dark{ background-image: url('../images/dark.png') }

/* Round Corners  */
.round-2 { border-radius: 2px; }
.round-4 { border-radius: 4px; }
.round-6 { border-radius: 6px; }
.round-8 { border-radius: 8px; }
.round-10 { border-radius: 10px; }
.round-12 { border-radius: 12px; }
.round-14 { border-radius: 14px; }
.round-16 { border-radius: 16px; }
.round-18 { border-radius: 18px; }
.round-20 { border-radius: 20px; }

.round-top-2 { border-top-left-radius: 2px; border-top-right-radius: 2px; }
.round-bottom-2 { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
.round-left-2 { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.round-right-2 { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.round-top-4 { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.round-bottom-4 { border-bottom-left-radius: 4px; border-bottom-right-radius: 2px; }
.round-left-4 { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.round-right-4 { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.round-top-6 { border-top-left-radius: 6px; border-top-right-radius: 6px; }
.round-bottom-6 { border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.round-left-6 { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.round-right-6 { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

.round-top-8 { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.round-bottom-8 { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.round-left-8 { border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.round-right-8 { border-top-right-radius: 8px; border-bottom-right-radius: 8px; }

.round-top-10 { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.round-bottom-10 { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.round-left-10 { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.round-right-10 { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

