/* Mobile First Media Queries  
-------------------------------------------------- */


@media only screen and (min-width : 480px) {

    .pull-xs-left{ float:left; }
    .pull-xs-right{ float:right; }

    .align-xs-right{ text-align:right; }
    .align-xs-center{ text-align:center; }
    .align-xs-left{ text-align:left; }

}


/* The Bootstrap "sm" Snap Point: Mobile Devices */
@media only screen and (min-width : 769px) {
    
    .pull-sm-left{ float:left; }
    .pull-sm-right{ float:right; }

    .align-sm-right{ text-align:right; }
    .align-sm-center{ text-align:center; }
    .align-sm-left{ text-align:left; }

}

/* The Bootstrap "md" Snap Point: Tablet and Small Desktop Devices */
@media only screen and (min-width : 992px) {
    
    .pull-md-left{ float:left; }
    .pull-md-left{ float:right; }

    .align-md-right{ text-align:right; }
    .align-md-center{ text-align:center; }
    .align-md-left{ text-align:left; }

    
}

/* The Bootstrap "lg" Snap Point: Large Desktop Devices */
@media only screen and (min-width : 1200px) {
    
    .pull-lg-left{ float:left; }
    .pull-lg-left{ float:right; }

    .align-lg-right{ text-align:right; }
    .align-lg-center{ text-align:center; }
    .align-lg-left{ text-align:left; }
    
}
